<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-2" style="background: #0071feff; min-height: 100vh; color:rgb(255, 255, 255);">
      <div class="mt-4">
        <h4>Dashboard</h4>
      </div>
      <hr>
      <ul class="custom-list">
        <li><a routerLink="quizzes"><i class="bi bi-puzzle"></i> Quizzes</a></li>
        <li><a routerLink="takes"><i class="bi bi-bar-chart"></i> Takes</a></li>
        <li><a routerLink="quizzes"><i class="bi bi-people-fill"></i> Users</a></li>
        <li><a routerLink="quizzes"><i class="bi bi-tags"></i> Categories</a></li>
        <li><a routerLink="quizzes"><i class="bi bi-gear"></i> Settings</a></li>
      </ul>
    </div>
    <div class="col-10">
    <router-outlet></router-outlet>
  </div>
  </div>
</div>
